body{
    background-color: #202020;
    margin: 0;
    color: white;
}
                       /*<!--Main-->*/                       
.main{
display: grid;
grid-template-columns: 22% 10% 40% 10% auto;
}   

.navLinks{
    text-decoration: none;
    color: white;

}

div.logo{
    background-image: url("C\ SQAURE\ logo1.0.png");
    background-repeat: no-repeat;
    background-size: contain;   
    width: 250px; 
    height: 70px;
    margin: 15px 0 0 15px;
}

.menuBar{
    display: inline-grid;
    grid-column: 3;
    grid-template-columns: repeat(5 , 50px);   
    grid-template-rows: auto;
    grid-gap: 50px;
    margin-top: 45px;
}

.searchBar{
    grid-column:5 ;
    margin-top: 45px;
}

                                /*Sub_Heading*/
       
.heading{
     display: grid;
     grid-template-columns: 15% auto;
}

.subHeading{
    display: grid;
    grid-column-start:2 ;
    grid-template-columns: 20% 20% auto;
    grid-auto-flow: column;

}

                           /*Content*/


.img1 , .img2 , .img3 , .img4{
    background-repeat: no-repeat;
    background-size: cover; 

}                           
.img1{
    background-image: url("tech.jpg");
    width: 70%;
    height: 100%;
    max-height: 355px;
    margin: auto;
    margin-bottom: 25px;
}

.img2{
    background-image: url("arduino.jpg");
    width: 300px;
    height: 150px;
    grid-column:2 ;
    border: 1px solid red;
}


.img3{
    background-image: url("code.jpg");
    width:300px;
    height: 150px;
    grid-column:3 ;
}

.img4{
    background-image: url("iot.jpg");
    width:300px;
    height: 150px;
    grid-column:4 ;
}

.content{
  display: grid;
  grid-template-columns: 15% auto auto auto 15%;
}
